<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.implanthearts">

    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- 写入通讯录权限 -->
    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/zhi"
        android:label="@string/app_name"
        android:launchMode="singleInstance"
        android:roundIcon="@mipmap/zhi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="IOt1W8MnR7L34iusdm8YanyzGsxjvxIl" />

        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".UpdatePwActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".SettingActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".BindingAccountActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".PublishActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity android:name=".PhotoActivity" />
        <activity android:name=".TestPicActivity" />
        <activity android:name=".ImageGridActivity" />
        <activity
            android:name=".ShowImageActivity"
            android:theme="@style/NoActionBar" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".LandingActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".LookActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".DingshiActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".DeviceActivity"
            android:theme="@style/AppTheme2" />
        <activity android:name=".ProgressBarActivity"
            android:theme="@style/AppTheme2"></activity>
    </application>

</manifest>